
body {
    font-family: sans-serif;

    background-color:lightblue;
    color: rgb(255, 0, 0);
    margin: 0;

}

}
h2{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-family: 'Times New Roman', Times, serif;
}
header {
    
}
img{
    justify-content: space-between;
    
}
.button {
    
}

nav {
    
}

.nav-link {
    text-decoration: none;
    
}

li{
    padding: 10px;
   font-family:'Times New Roman', Times, serif;
}

p {
    font-size: 20px;
}

.info {
   
}

article {
   
}

.article-but {
    
}

footer {
   
}

footer a {
    
}

footer p {
}

.icon-text {
    display: flex;
    text-align: center;
    background-color:rgb(255, 255, 255);
}
